body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(128, 128, 128, .5);
}

.box-search {
  position: relative;
  display: flex;
}

.box-search .fas.fa-search {
  position: absolute;
  right: 1rem;
  top: .7rem;
}

.box-orden h4,
.box-orden button {
  margin-right: 1rem;
}

.form-group {
  position: relative;
  display: flex;
  margin-right: 1rem;
  width: 80%;
}

.wrap-card {
  width: 100%;
  margin-bottom: 2rem;
}

.card .card-title {
 min-height: 50px;
 text-align: center; 
}

.card figure {
  overflow: hidden;
  min-height: 250px;
  max-height: 250px;
  position: relative;
}

.card figure:hover img {
  transform: scale(1.3);
}

.card figure img {
  transition: transform 0.8s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
    
}

.btn.btn-warning {
  font-weight: 500;
}

.link-full-img {
  text-decoration: none;
  font-weight: 500;
  color: #0d6efd;
}


@media screen and (max-width: 991px) {
  .box-search {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .btn.btn-warning {
    width: 100%;
    margin-bottom: 1rem;
  }

  .box-orden {
    justify-content: center;
  }
}
